{% set title = "Retirement Home" %}
{% set section_title = "Ministries" %}
{% extends "default.njk" %}

{% block content %}

<div class="container mx-auto">
  <div class="py-16">
    <h1 class="text-5xl text-center md:text-7xl">Retirement Home</h1>
  </div>
</div>
<div class="container pb-16 mx-auto">
  <p class="pb-8">
    Every Sunday morning a team of folks goes to a local nursing home to conduct a morning church service with music, preaching, and teaching.
  </p>
</div>

{% endblock %}
