{% set title = "Beliefs" %}
{% set section_title = "About Us" %}
{% extends "default.njk" %}

{% block content %}

<div class="container mx-auto">
  <div class="py-16">
    <h1 class="text-5xl text-center md:text-7xl">Beliefs</h1>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full pb-4 md:pr-4 md:w-1/2">
      <h3 class="text-2xl">The Godhead - The Trinity</h3>
      <p>We believe that God is three persons in one: Father, Son, and Holy Spirit. (I John 5:6-8)</p>
    </div>
    <div class="w-full pb-4 md:pl-4 md:w-1/2">
      <h3 class="text-2xl">The Person and Work of Jesus Christ</h3>
      <p>We believe that Jesus Christ was the virgin born Son of God, and God manifest in the flesh (I Timothy 3:16). We believe that Jesus Christ died on the cross to pay for our sin, and was literally, physically and bodily raised from the dead (Romans 10:9-10). We believe Jesus Christ ascended bodily to heaven and is now seated at the right hand of the Father (Acts 1:9-10).</p>
    </div>
    <div class="w-full pb-4 md:pr-4 md:w-1/2">
      <h3 class="text-2xl">The Person and Work of the Holy Spirit</h3>
      <p>We believe that the Holy Spirit draws lost men to Jesus Christ, and lives permanently inside those who are saved (Ephesians 1:13-14) We believe that those who are saved are to be filled with the Holy Spirit. (Ephesians 5:18).</p>
    </div>
    <div class="w-full pb-4 md:pl-4 md:w-1/2">
      <h3 class="text-2xl">The Holy Scriptures<sup>*</sup></h3>
      <p>We believe the Bible is true and accurate in every detail, the very words of God, and the final authority of life (II Timothy 3:16-17).</p>
    </div>
    <div class="w-full pb-4 md:pr-4 md:w-1/2">
      <h3 class="text-2xl">The Fallen Nature of Ma</h3>
      <p>We believe man was created perfect in the garden of Eden, but through the sin of Adam and Eve, the race fell and inherited a sinful nature (Romans 5:12).</p>
    </div>
    <div class="w-full pb-4 md:pl-4 md:w-1/2">
      <h3 class="text-2xl">Salvation</h3>
      <p>We believe lost men are saved by grace: through faith in the blood of Jesus Christ alone (Ephesians 2:8-9).</p>
    </div>
    <div class="w-full pb-4 md:pr-4 md:w-1/2">
      <h3 class="text-2xl">The Believer's Assurance</h3>
      <p>We believe that saved people are eternally secure in Jesus Christ, and cannot lose their salvation (Romans 8:38-39). We believe our security gives us the freedom to serve Jesus Christ as opposed to giving us the license to sin (Galatians 5:13).</p>
    </div>
    <div class="w-full pb-4 md:pl-4 md:w-1/2">
      <h3 class="text-2xl">The Two Natures of the Believer</h3>
      <p>We believe that saved people have a spiritual nature that is perfect, and an old physical nature that remains sinful. (Romans 7:14-25)</p>
    </div>
    <div class="w-full pb-4 md:pr-4 md:w-1/2">
      <h3 class="text-2xl">Separation</h3>
      <p>We believe that saved people should live in accordance to the standards of the word of God and abstain from sinful practices, while living among lost people in a sinful world so as to influence them for Jesus Christ (Philippians 2:14-16).</p>
    </div>
    <div class="w-full pb-4 md:pl-4 md:w-1/2">
      <h3 class="text-2xl">Missions</h3>
      <p>We believe it is our personal and church responsibility to take the gospel of Jesus Christ to the entire world (Matthew 28:18-20).</p>
    </div>
    <div class="w-full pb-4 md:pr-4 md:w-1/2">
      <h3 class="text-2xl">The Ministry and Spiritual Gifts</h3>
      <p>We believe the modern Charismatic movement is non-Biblical. (I Corinthians 13:8-10).</p>
    </div>
    <div class="w-full pb-4 md:pl-4 md:w-1/2">
      <h3 class="text-2xl">The Church</h3>
      <p>We believe the main role of the church is to exalt the Lord Jesus Christ and to spread the gospel around the world (Colossians 1:9-18). We believe the church is the body and bride of Christ and consists of all saved people of the last 2,000 years (Ephesians 5:22-32). We believe that independent local churches should govern themselves and reproduce themselves by starting other local churches (Titus 1:5-9). We believe Baptism by immersion is an ordinance of the local church, and that only saved people are to be baptized as an act of obedience to the Lord (Acts 8:36-39). We believe the Lord's Supper is an ordinance of the local church open to any saved person, as a symbol and observance of the death, burial, and resurrection of Jesus Christ (II Corinthians 11:23-26).</p>
    </div>
    <div class="w-full pb-4 md:pr-4 md:w-1/2">
      <h3 class="text-2xl">Dispensationalism</h3>
      <p>We believe there are correct divisions to be made in the Bible, and that its truths are to be applied properly (II Timothy 2:15).</p>
    </div>
    <div class="w-full pb-4 md:pl-4 md:w-1/2">
      <h3 class="text-2xl">The Personality of Satan</h3>
      <p>We believe Satan is real, the enemy of God and the church, and a defeated foe destined for hell (Isaiah 14:12-17).</p>
    </div>
    <div class="w-full pb-4 md:pr-4 md:w-1/2">
      <h3 class="text-2xl">The Second Coming of Jesus Christ</h3>
      <p>We believe that Jesus Christ will return any day now, first to take out the church at the rapture, then later to reign over the earth (I Thessalonians 4:13-18, Revelation 19:11-16).</p>
    </div>
    <div class="w-full pb-4 md:pl-4 md:w-1/2">
      <h3 class="text-2xl">The Eternal State</h3>
      <p>We believe all men will he raised to face judgment based on their life and faith in Jesus Christ (John .5:28-29). We believe the saved will enjoy the blessings of heaven for eternity (II Corinthians 5:6-8). We believe the lost will suffer the punishment of a literal hell for eternity (Revelation 20:10-15).</p>
    </div>
  </div>
  <div class="pb-4">
    <p><sup>*</sup>As a church body, we hold to the absolute final authority of the Holy Bible as the inspired words of God, preserved in the English language in the Authorized Version, with no other authority held above it. - Church Constitution, Article IV. Goals</p>
  </div>
</div>

{% endblock %}
