<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}{{ title }} | Crests Bible Church{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{ description }}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/styles.css"/>
    <script src="/alpine.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <header x-data="{ mobile_open: false }" class="h-24 text-white bg-crest-black">
      <div class="container items-center justify-end hidden h-full mx-auto text-lg md:flex">
        <ul class="z-10 flex pb-0 space-x-8">
          <li class="relative group">
            <span class="cursor-pointer hover:text-crest-dark-gold">About Us</span>
            <ul class="absolute left-0 invisible hidden p-4 space-y-4 group-hover:visible group-hover:block bg-crest-black">
              <li class=""><a href="/about-us/beliefs" class="whitespace-nowrap hover:text-crest-dark-gold">Beliefs</a></li>
              <li class=""><a href="/about-us/location-and-service-times" class="whitespace-nowrap hover:text-crest-dark-gold">Location and Service Times</a></li>
              <li class=""><a href="/about-us/pastors" class="whitespace-nowrap hover:text-crest-dark-gold">Pastors</a></li>
              <li class=""><a href="/about-us/missionaries" class="whitespace-nowrap hover:text-crest-dark-gold">Missionaries</a></li>
              <li class=""><a href="/about-us/membership" class="whitespace-nowrap hover:text-crest-dark-gold">Membership</a></li>
            </ul>
          </li>
          <li class="relative group">
            <span class="cursor-pointer hover:text-crest-dark-gold">Ministries</span>
            <ul class="absolute left-0 invisible hidden p-4 space-y-4 group-hover:visible group-hover:block bg-crest-black">
              <li class=""><a href="/ministries/events" class="whitespace-nowrap hover:text-crest-dark-gold">Events</a></li>
              <li class=""><a href="/ministries/youth" class="whitespace-nowrap hover:text-crest-dark-gold">Youth</a></li>
              <li class=""><a href="/ministries/children" class="whitespace-nowrap hover:text-crest-dark-gold">Children</a></li>
              <li class=""><a href="/ministries/retirement-home" class="whitespace-nowrap hover:text-crest-dark-gold">Retirement Home</a></li>
              <li class=""><a href="/ministries/missions" class="whitespace-nowrap hover:text-crest-dark-gold">Missions</a></li>
              <li class=""><a href="/ministries/discipleship" class="whitespace-nowrap hover:text-crest-dark-gold">Discipleship</a></li>
            </ul>
          </li>
          <li class=""><a href="/contact-us">Contact Us</a></li>
        </ul>
      </div>
      <div class="flex items-center justify-end h-full pr-4 md:hidden">
        <svg class="w-12 h-12 text-white cursor-pointer" @click="mobile_open = true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </div>
      <div class="fixed top-0 bottom-0 left-0 right-0 z-20 overflow-scroll bg-crest-black" x-show="mobile_open">
        <div class="flex items-center justify-end h-24 pr-4">
          <svg class="w-12 h-12 text-white cursor-pointer" @click="mobile_open = false" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
        <div class="flex flex-col items-center">
          <p><a class="py-4" href="/">Home</a></p>
          <ul class="flex flex-col items-center">
            <li class="py-4"><span class="text-2xl text-crest-gold">About Us</span></li>
            <li><a class="block py-4" href="/about-us/location-and-service-times" class="">Location and Service Times</a></li>
            <li><a class="block py-4" href="/about-us/beliefs" class="">Beliefs</a></li>
            <li><a class="block py-4" href="/about-us/pastors" class="">Pastors</a></li>
            <li><a class="block py-4" href="/about-us/missionaries" class="">Missionaries</a></li>
            <li><a class="block py-4" href="/about-us/membership" class="">Membership</a></li>
          </ul>
          <ul class="flex flex-col items-center">
            <li class="py-4"><span class="text-2xl text-crest-gold">Ministries</span></li>
            <li><a class="block py-4" href="/ministries/events" class="">Events</a></li>
            <li><a class="block py-4" href="/ministries/youth" class="">Youth</a></li>
            <li><a class="block py-4" href="/ministries/children" class="">Children</a></li>
            <li><a class="block py-4" href="/ministries/retirement-home" class="">Retirement Home</a></li>
            <li><a class="block py-4" href="/ministries/missions" class="">Missions</a></li>
            <li><a class="block py-4" href="/ministries/discipleship" class="">Discipleship</a></li>
          </ul>
          <p><a class="py-4" href="/contact-us">Contact Us</a></p>
        </div>
      </div>
    </header>
    <div class="relative bg-center bg-cover" style="background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/images/background.jpg');">
      {% if section_title %}
        <div class="container flex flex-col py-12 mx-auto space-y-8 md:flex-row md:space-x-16 lg:space-x-32 md:space-y-0">
          <div class="flex items-center">
            <a href="/"><img src="/images/church_logo.png" /></a>
          </div>
          <div class="flex items-center">
            <h2 class="mx-auto text-5xl text-white md:text-7xl whitespace-nowrap md:mx-0">{{ section_title }}</h2>
          </div>
        </div>
      {% else %}
        <div class="container flex justify-center py-16 mx-auto">
          <a href="/"><img src="/images/church_logo.png" /></a>
        </div>
      {% endif %}
    </div>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
    <footer class="h-24 text-white bg-crest-black">
      <div class="container flex flex-col items-center justify-center h-full mx-auto space-y-2">
        <ul class="flex pb-0 space-x-8">
          <li class=""><a class="underline hover:text-crest-dark-gold" href="https://www.facebook.com/pages/Crest-Bible-Church/318054578690" title="Facebook" target="_blank">Facebook</a></li>
          <li class=""><a class="underline hover:text-crest-dark-gold" href="http://www.southparkdaycare.org/" title="Southpark Christian Child Care" target="_blank">South Park Christian Child Care</a></li>
        </ul>
        <p class="pb-0">Copyright 2021 | Crest Bible Church</p>
      </div>
    </footer>
  </body>
  </html>
