{% set title = "Children" %}
{% set section_title = "Ministries" %}
{% extends "default.njk" %}

{% block content %}

<div class="container mx-auto">
  <div class="py-16">
    <h1 class="text-5xl text-center md:text-7xl">Children</h1>
  </div>
</div>
<div class="container pb-16 mx-auto">
  <p class="pb-8">
    For kids up to 6th grade we provide nursury, Sunday School classes, and Junior Church on Sunday mornings. Our goal is to reinforce the biblical teaching the kids get at home by helping them learn the basics of the bible.
  </p>
</div>

{% endblock %}
