{% set title = "Missions" %}
{% set section_title = "Ministries" %}
{% extends "default.njk" %}

{% block content %}

<div class="container mx-auto">
  <div class="py-16">
    <h1 class="text-5xl text-center md:text-7xl">Missions</h1>
  </div>
</div>
<div class="container pb-16 mx-auto">
  <p>
    We believe that the heart beat of God is missions. After all John 3:16 says that God so loved the world that he gave his only begotten son. God gave his son to this world in order that lost man might be restored back in a relationship with God the Father. As Christians we are to share in that heart beat. We all have family, friends, co-workers and neighbors that need to hear the message of the gospel. There are scores of people in our home town that need to be reached for the Lord. Our vision for missions at Crest is not only to send and support key men and women in key places in the world, but to give our people a heart for missions for family, friends and co-workers right here in Kansas City.
  </p>
  <p class="pb-8">
    "Where there is no vision, the people perish: but he that keepeth the law, happy is he" (Prov 29:18 KJV).
  </p>
  <h2 class="pb-4 text-3xl">Our Goals for Missions</h2>
  <p>
    1. We want to have more of our congregation in tune to what is going on in the lives of the missionaries that we support. It is part of an over all goal of being able to see our people have more of a heart for missions. Having a missions conference is important, but we can do more than that. We have a systematic way in getting the information from the field to our congregation on a regular basis. The means for that is through our weekly bulletin. We have a brief overview of what is going on with our missionaries on the field. The goal is to highlight one missionary per every couple of weeks, if not weekly. In a sense we want to be like Tychicus was to the apostle Paul.
  </p>
  <p>
    "But that ye also may know my affairs, and how I do, Tychicus, a beloved brother and faithful minister in the Lord, shall make known to you all things" (Eph 6:21 KJV).
  </p>
  <p>
    2. We want to see actual prayer teams or various ministries to adopt a missionary to pray for and commit to support financially over and above their responsibility to our local church. We have already seen the start of one prayer team for the two men that we support in Belize where our church has already made several trips. More teams will develop as our members get to know and possibly visit the field of ministry of the missionaries when there is opportunity.
  </p>
  <p>
    "Now ye Philippians know also, that in the beginning of the gospel, when I departed from Macedonia, no church communicated with me as concerning giving and receiving, but ye only. For even in Thessalonica ye sent once and again unto my necessity. Not because I desire a gift: but I desire fruit that may abound to your account" (Phil 4:15-17 KJV).
  </p>
  <p>
    3. We would like to see our church raise up and support more missionaries out of our own local church. We believe that if a church has the heart beat of God then it will have a heart for missions. We desire to see our church grow to a place to be able to see the Lord separate ones from our congregation to reproduce the life of Christ in others around the world.
  </p>
  <p>
    "As they ministered to the Lord, and fasted, the Holy Ghost said, Separate me Barnabas and Saul for the work whereunto I have called them. And when they had fasted and prayed, and laid their hands on them, they sent them away" (Acts 13:2-3 KJV).
  </p>
</div>

{% endblock %}
