{% set title = "Discipleship" %}
{% set section_title = "Ministries" %}
{% extends "default.njk" %}

{% block content %}

<div class="container mx-auto">
  <div class="py-16">
    <h1 class="text-5xl text-center md:text-7xl">Discipleship</h1>
  </div>
</div>
<div class="container pb-16 mx-auto">
  <p class="pb-8">
    The Discipleship ministry provides a structured way for Christians to learn the basics of the bible, their relationship with God, and how to live for the Lord.
  </p>
  <h2 class="pb-4 text-3xl">Discipleship One</h2>
  <p>
    One-on-one teaching of basic Bible doctrine through an established format of 16 lessons, taught by mature members of the church.
  </p>
  <h2 class="pb-4 text-3xl">Discipleship Two</h2>
  <p>
    A classroom format that builds on the teaching of Discipleship One, helping the believer understand the deeper doctrines of the bible. Classes meets on Tuesday nights at 7:00p and are taught by Pastor Joe Bolander.
  </p>
  <p>
    For more information see Pastor Ross Weibling.
  </p>
</div>

{% endblock %}
