{% set title = "Events" %}
{% set section_title = "Ministries" %}
{% extends "default.njk" %}

{% block content %}

<div class="container mx-auto">
  <div class="py-16">
    <h1 class="text-5xl text-center md:text-7xl">Events</h1>
  </div>
</div>
<div class="container pb-16 mx-auto">
  <p class="pb-8">
    At Crest we focus on four big events throughout our year. There are always plenty of other things going on throughout the year but these are the things we put a lot of time and energy into every year.
  </p>
  <h2 class="pb-4 text-3xl">Turkey Creek Festival Outreach</h2>
  <p class="pb-8">Every year we sell food, have kids activities, and simply get out and talk to our neighbors about the gospel at the Merriam Turkey Creek Festival. It's a great way for us to meet new folks, let people know about our church, and most importantly spread the good news of the gospel.</p>
  <h2 class="pb-4 text-3xl">Vacation Bible School</h2>
  <p class="pb-8">VBS is a chance to minister to our younger kids, friends, neighbors, as well as their parents and other family members.</p>
  <h2 class="pb-4 text-3xl" pb-4>Youth Camp</h2>
  <p class="pb-8">At Youth Camp our teens get a way for a week of fun and a whole lot of bible. This is always a big week where we see God move in the lives of our teens.</p>
  <h2 class="pb-4 text-3xl">Belize Missions Trip</h2>
  <p>Every fall Pastor Greg leads a team to Belize to work and minister along side a like minded church. It's a great opportunity to minister with brothers and sisters in Christ outside of our own culture.</p>
</div>

{% endblock %}
