{% set title = "Joe Bolander" %}
{% set section_title = "About Us" %}
{% extends "default.njk" %}

{% block content %}

<div class="container mx-auto">
  <div class="py-16">
    <h1 class="text-5xl text-center md:text-7xl">Joe Bolander</h1>
  </div>
</div>
<div class="container pb-16 mx-auto">
    <p class="italic">Associate Pastor</p>
    <p>
      Joe is a native of Kansas City, KS. He attended Wyandotte High School and accepted Jesus Christ as his personal Saviour during his senior year. Joe’s heart was moved to actively serve the Lord and his passion for music and ministry came early. After high school where he majored in Music, Joe attended Calvary Bible College where he majored in Bible. Joe played the trumpet in high school and still plays today. Joe married his high school sweetheart two years after graduating from Wyandotte. He and Cathi have been married 45 years and have two children, Joseph and Heather. Heather is now married to David Persaud and have three children, Anna, Ethan, and Tyler. Their son, Joey, has a daughter, Emma.
    </p>
    <p>
      Joe grew spiritually under the teaching of Pastors Cecil Firestone, Louis Turk and his Father-in-law Robert Adams. Joe attended Stony Point Baptist Church for many years under Pastor Bob Houchin and served as a deacon and Sunday School teacher there. Joe began attending Crest Bible Church in 1995 and was quickly drawn to the expository teaching at Crest. he attended Shepherd’s School at Kansas City Baptist Temple and joined the pastoral staff at Crest in 2003.
    </p>
    <p>
      Joe is the Associate Pastor, as well as Music Director and Pastor of the Discipleship II program. Joe loves anything to do with music which includes playing the trumpet, drums, and singing in the men’s quartet. 
    </p>
</div>

{% endblock %}
