{% set title = "Pastors" %}
{% set section_title = "About Us" %}
{% extends "default.njk" %}

{% block content %}

<div class="container mx-auto">
  <div class="py-16">
    <h1 class="text-5xl text-center md:text-7xl">Pastors</h1>
  </div>
</div>
<div class="container mx-auto">
  <div class="pb-4 mb-8 border-b border-gray-300">
    <h2 class="pb-4 text-5xl"><a class="text-crest-dark-gold hover:text-crest-gold" href="/about-us/people/greg-axe">Greg Axe</a></h2>
    <p class="italic">Senior Pastor</p>
    <p>
      Greg is a hometown product, raised right here in Kansas City, Kansas. At the age of 25, he realized that he was a sinner in need of a Saviour, and trusted Jesus Christ to save him from his sin. Very shortly after that, he moved to Cincinnati, Ohio and joined the Landmark Baptist Temple (Pastor John Rawlings) where he got his basic training in the word of God. In 1983, he moved back home and joined the Kansas City Baptist Temple, where he received further training for the ministry.
    </p>
    <p><a class="text-crest-dark-gold hover:text-crest-gold" href="/about-us/people/greg-axe">Read more</a></p>
  </div>
  <div class="pb-4 mb-8 border-b border-gray-300">
    <h2 class="pb-4 text-5xl"><a class="text-crest-dark-gold hover:text-crest-gold" href="/about-us/people/joe-bolander">Joe Bolander</a></h2>
    <p class="italic">Associate Pastor</p>
    <p>
      Joe is a native of Kansas City, KS. He attended Wyandotte High School and accepted Jesus Christ as his personal Saviour during his senior year. Joe’s heart was moved to actively serve the Lord and his passion for music and ministry came early. After high school where he majored in Music, Joe attended Calvary Bible College where he majored in Bible. Joe played the trumpet in high school and still plays today. Joe married his high school sweetheart two years after graduating from Wyandotte. He and Cathi have been married 45 years and have two children, Joseph and Heather.
    </p>
    <p><a class="text-crest-dark-gold hover:text-crest-gold" href="/about-us/people/joe-bolander">Read more</a></p>
  </div>
  <div class="pb-4 mb-8 border-b border-gray-300">
    <h2 class="pb-4 text-5xl"><a class="text-crest-dark-gold hover:text-crest-gold" href="/about-us/people/ross-weibling">Ross Weibling</a></h2>
    <p class="italic">Associate Pastor</p>
    <p>
      Ross was raised in Kansas City, Kansas and attended Wyandotte High School. Ross accepted Christ as his Saviour at the age of 15 at a Youth For Christ rally in Kansas City, Kansas. As a boy, Ross attended the Calvary Baptist Church (Pastor Fred Spendor), at 10th & Grandview Blvd., in Kansas City, Kansas. It is at this church that Ross received a strong Christian foundation that would last the rest of his life. It was at this church where Ross (age 12) first felt that God might be calling him into ministry, as he dreamed of being a pastor someday.
    </p>
    <p><a class="text-crest-dark-gold hover:text-crest-gold" href="/about-us/people/ross-weibling">Read more</a></p>
  </div>
</div>

{% endblock %}
