{% set title = "Membership" %}
{% set section_title = "About Us" %}
{% extends "default.njk" %}

{% block content %}

<div class="container mx-auto">
  <div class="py-16">
    <h1 class="text-5xl text-center md:text-7xl">Membership</h1>
  </div>
</div>
<div class="container mx-auto">
  <div class="pb-8">
    <h2 class="text-5xl">How Can I Fit In?</h2>
  </div>
</div>
<div class="container flex flex-wrap pb-16 mx-auto">
  <div class="w-full pb-4 md:w-1/2 md:pr-4">
    <h3 class="pb-2 text-3xl">Becoming a member of Crest Bible Church</h3>
    <ul class="pb-4 ml-5 list-disc list-outside">
      <li>Basic premises: Saved, baptized, in doctrinal agreement, and committed to the mission of the church.</li>
      <li>Official memberships will be received during Sunday morning invitation.</li>
    </ul>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pl-4">
    <h3 class="pb-4 text-3xl">Methods of joining:</h3>
    <ul class="pb-4 ml-5 list-disc list-outside">
      <li>Transfer from church of like faith.</li>
      <li>Statement of faith in Jesus Christ, and doctrinal agreement.</li>
      <li>Baptism</li>
    </ul>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pr-4">
    <h3 class="pb-2 text-3xl">Why join a church?</h3>
    <p>The local church was ordained by God to be a spiritual authority in the lives of his people. A Christian cannot find spiritual maturity and fulfillment apart from the vehicle God has ordained for that purpose.</p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pl-4">
    <h3 class="pb-4 text-3xl">What can I expect from the church?</h3>
    <p>You can expect to get clear, consistent teaching of the word of God (I Timothy 3:15). You can also expect to receive the spiritual and physical protection afforded by God's ordained structure.</p>
    <p>(I Timothy 5:1-16). But most importantly, you can expect to find an avenue to serve Jesus Christ and find spiritual maturity (Ephesians 4:11-16).</p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pr-4">
    <h3 class="pb-2 text-3xl">What should the church expect from me?</h3>
    <p>There are NO agreements to sign! Your membership here is strictly voluntary, and you can choose to cancel it at any time. But as long as you are a member, the rest of us should expect your commitment and involvement in our mission of spreading the gospel of Jesus Christ.</p>
    <p>(I Timothy 3:9)</p>
  </div>
</div>

{% endblock %}
