{% set title = "Ross Weibling" %}
{% set section_title = "About Us" %}
{% extends "default.njk" %}

{% block content %}

<div class="container mx-auto">
  <div class="py-16">
    <h1 class="text-5xl text-center md:text-7xl">Ross Weibling</h1>
  </div>
</div>
<div class="container pb-16 mx-auto">
    <p class="italic">Associate Pastor</p>
    <p>
      Ross was raised in Kansas City, Kansas and attended Wyandotte High School. Ross accepted Christ as his Saviour at the age of 15 at a Youth For Christ rally in Kansas City, Kansas. As a boy, Ross attended the Calvary Baptist Church (Pastor Fred Spendor), at 10th & Grandview Blvd., in Kansas City, Kansas. It is at this church that Ross received a strong Christian foundation that would last the rest of his life. It was at this church where Ross (age 12) first felt that God might be calling him into ministry, as he dreamed of being a pastor someday.
    </p>
    <p>
      After leaving High School, Ross served in the U. S. Air Force for six years, most of which was served in Asia and the Middle East. After leaving the military, Ross became an Engineer in the field of Electronics. Ross has owned and operated an accounting and tax business in Overland Park, Kansas since 1984. 
    </p>
    <p>
      Ross and his wife Rhonda have been married for 30 years and have four children, Edward, Sarina, Savannah, and Richard, and four grandsons, Justin, Gregory, Cameron, and William.
    </p>
    <p>
      Ross and Rhonda have been members of Crest Bible Church since October 1997. Ross' boyhood dream of being a pastor had not died after all these years. So, in 1999 Ross obeyed God's call into ministry, and he enrolled in the Shepherd's School of Ministry at Kansas City Baptist Temple. Ross graduated from the Shepherd's School of Ministry in 2003 and became an Associate Pastor at Crest Bible Church in 2003. Ross now serves on staff as Associate Pastor and heads up the Discipleship and Adult Ministries. He also provides pastoral care for the Spanish Ministry. Ross' wife, Rhonda, is the church secretary.
    </p>
</div>

{% endblock %}
