{% set title = "Missionairies" %}
{% set section_title = "About Us" %}
{% extends "default.njk" %}

{% block content %}

<div class="container mx-auto">
  <div class="py-16">
    <h1 class="text-5xl text-center md:text-7xl">Missionairies</h1>
  </div>
</div>
<div class="container pb-4 mx-auto">
  <p>
    The following are missionaries supported by Crest Bible Church. We encourage you to pray for these families as they seek to minister the word of God in other locations to fulfill the Great Commission. If you would like more information on any of these servants of the Lord, please contact our church office.
  </p>
</div>
<div class="container flex flex-wrap pb-16 mx-auto">
  <div class="w-full pb-4 md:w-1/2 md:pr-4">
    <p>
      Aheizer and Elizabeth Cal<br/>
      Copper Bank Village, Corozal District<br/>
      Belize, Central America
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pl-4">
    <p>
      Bryon and Tammy Callaway<br/>
      Titus<br/>
      Zambia, Africa
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pr-4">
    <p>
      Ramiro and Lety Carrillo<br/>
      Nayely, Judy<br/>San Lazaro Village, Orange Walk District<br/>
      Belize, Central America
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pl-4">
    <p>
      Jose and Nelly Diaz<br/>
      Ester, Suri, Daniel<br/>
      San Antonio Village, Orange Walk District<br/>
      Belize, Central America
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pr-4">
    <p>
      Larry and Charlotte Franklin<br/>
      ICME (International Children’s Ministry Enterprises)<br/>
      Lee’s Summit, MO
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pl-4">
    <p>
      Yohannes and Kidist Getaneh<br/>
      Leah, Yafet, Bemenet<br/>
      Deaf ministry<br/>
      Lusaka, Zambia
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pr-4">
    <p>
      Ken and Evelyn Greenwell<br/>
      Beclabito Baptist Church<br/>
      Navajo Nation – Four Corners of USA
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pl-4">
    <p>
      Tom and Jeanne Johnson<br/>
      Avant Ministries<br/>
      Golden, CO
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pr-4">
    <p>
      Angel and Alma Mendez<br/>
      Jair<br/>
      Yo Creek Village, Orange Walk District<br/>
      Belize, Central America
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pl-4">
    <p>
      Samuel and Herlinda Muj<br/>
      Trinidad Village, Orange Walk District<br/>
      Belize, Central America
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pr-4">
    <p>
      Doug and Bethany Pearson<br/>
      Greater Grace World Outreach<br/>
      Mumbai, India
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pl-4">
    <p>
      Nael Ramirez<br/>
      Word of Life Ministries<br/>
      San Lazaro Village, Orange Walk District<br/>
      Belize, Central America
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pr-4">
    <p>
      KC and Barbara Rider<br/>
      New Tribes Missions<br/>
      Camdenton, MO<br/>
      Short Term Missions: India
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pl-4">
    <p>
      Greg and Judy Sirmons<br/>
      Global Faith Missions Agency<br/>
      Lille, France
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pr-4">
    <p>
      UECB North Regional<br/>
      Church Association<br/>
      Orange Walk, Belize
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pl-4">
    <p>
      Mickey and Kathleen Walker<br/>
      Operation Mobilization<br/>
      Dublin, Ireland
    </p>
  </div>
  <div class="w-full pb-4 md:w-1/2 md:pr-4">
    <p>
      Ron and Connie Winter<br/>
      Bearing Precious Seed<br/>
      Camargo, Mexico
    </p>
  </div>
</div>

{% endblock %}
