{% set title = "Youth" %}
{% set section_title = "Ministries" %}
{% extends "default.njk" %}

{% block content %}

<div class="container mx-auto">
  <div class="py-16">
    <h1 class="text-5xl text-center md:text-7xl">Youth</h1>
  </div>
</div>
<div class="container pb-16 mx-auto">
  <p class="pb-8">
    Our youth group is for young people in grades 7 thorugh 12 and is led by Billy and Wendy Malloy. They meet for Sunday School classes on Sunday morning, bible study on Wednesday night, participate in youth activities with other local churches, and reaching out to the lost in our community (you'll often find them passing out tracts on the Plaza). 
  </p>
</div>

{% endblock %}
